{
  "presets": [
    "env",
    "es2015"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "transform-class-properties",
    "add-module-exports",
    "transform-runtime",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./test"
      }
    }]
  ],
  "env": {
    "test": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
