{
  "presets": [
    "es2015",
    "stage-0",
    "@ava/stage-4",
    "@ava/transform-test-files"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "transform-class-properties",
    "add-module-exports",
    "transform-runtime",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./test"
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
